___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Capstone Project of Data Analytics Module</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Car Price Prediction EDA</p>

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

### Some Reminders on Exploratory data analysis (EDA)

Exploratory data analysis (EDA) is an especially important activity in the routine of a data analyst or scientist. It enables an in depth understanding of the dataset, define or discard hypotheses and create predictive models on a solid basis. It uses data manipulation techniques and several statistical tools to describe and understand the relationship between variables and how these can impact business. By means of EDA, we can obtain meaningful insights that can impact analysis under the following questions (If a checklist is good enough for pilots to use every flight, it’s good enough for data scientists to use with every dataset).
1. What question are you trying to solve (or prove wrong)?
2. What kind of data do you have?
3. What’s missing from the data?
4. Where are the outliers?
5. How can you add, change or remove features to get more out of your data?

**``Exploratory data analysis (EDA)``** is often an **iterative brainstorming process** where you pose a question, review the data, and develop further questions to investigate before beginning model development work. The image below shows how the brainstorming phase is connected with that of understanding the variables and how this in turn is connected again with the brainstorming phase.<br>

<img src=https://i.ibb.co/k0MC950/EDA-Process.png width="300" height="100">

[Image Credit: Andrew D.](https://towardsdatascience.com/exploratory-data-analysis-in-python-a-step-by-step-process-d0dfa6bf94ee)

**``In this context, the project consists of 3 parts in general:``**
* **The first part** is related to 'Data Cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, and Dropping useless columns.
* **The second part** is related to 'Filling Data', in other words 'Imputation'. It deals with Missing Values. Categorical to numeric transformation is done as well.
* **The third part** is related to 'Handling Outliers of Data' via Visualization libraries. So, some insights will be extracted.

**``NOTE:``**  However, you are free to create your own style. You do NOT have to stick to the steps above. We, the DA & DV instructors, recommend you study each part separately to create a source notebook for each part title for your further studies.

# PART- 1 `( Data Cleaning )`

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")
plt.rcParams["figure.figsize"] = (10, 6)
sns.set_style("whitegrid")
pd.set_option("display.float_format", lambda x: "%.3f" % x)
# Set it None to display all rows in the dataframe
# pd.set_option("display.max_rows", None)
# Set it to None to display all columns in the dataframe
pd.set_option("display.max_columns", None)

C:\Users\Elitebook\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv("cleaned_autoscout.csv")
df

,short_description,body_type,price_€,vat,km,registration,prev_owner,hp_kW,type,previous_owners,warranty,make,model,body_color,paint_type,body_color_original,upholstery,nr_of_doors,nr_of_seats,gearing_type,engine_displacement_cc,cylinders,weight_kg,drive_chain,fuel,co2e_g,emission_class,comfort&convenience,entertainment&media,extras,safety&security,gears,country_version,consumption_comb,consumption_city,consumption_cuntry
0,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770.000,VAT deductible,56013.000,2016.000,2.000,66.000,Used,2.000,NaN,Audi,A1,Black,Metallic,Mythosschwarz,Cloth,5.000,5.000,Automatic,1422.000,3.000,1220.000,front,Diesel,99.000,Euro 6,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Catalytic Converter,Voice Control","ABS,Central door lock,Daytime running lights,D...",NaN,NaN,3.800,4.300,3.500
1,1.8 TFSI sport,Sedans,14500.000,Price negotiable,80000.000,2017.000,NaN,141.000,Used,NaN,NaN,Audi,A1,Red,NaN,NaN,Cloth,3.000,4.000,Automatic,1798.000,4.000,1255.000,front,Gasoline,129.000,Euro 6,"Air conditioning,Automatic climate control,Hil...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Sport seats,Sport suspension,Voic...","ABS,Central door lock,Central door lock with r...",7.000,NaN,5.600,7.100,4.700
2,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640.000,VAT deductible,83450.000,2016.000,1.000,85.000,Used,1.000,NaN,Audi,A1,Black,Metallic,mythosschwarz metallic,Cloth,4.000,4.000,Automatic,1598.000,NaN,NaN,front,Diesel,99.000,Euro 6,"Air conditioning,Cruise control,Electrical sid...","MP3,On-board computer","Alloy wheels,Voice Control","ABS,Central door lock,Daytime running lights,D...",NaN,NaN,3.800,4.400,3.400
3,1.4 TDi Design S tronic,Sedans,14500.000,NaN,73000.000,2016.000,1.000,66.000,Used,1.000,NaN,Audi,A1,Brown,Metallic,NaN,NaN,3.000,4.000,Automatic,1422.000,3.000,1195.000,NaN,Diesel,99.000,Euro 6,"Air suspension,Armrest,Auxiliary heating,Elect...","Bluetooth,CD player,Hands-free equipment,MP3,O...","Alloy wheels,Sport seats,Voice Control","ABS,Alarm system,Central door lock with remote...",6.000,NaN,3.800,4.300,3.500
4,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790.000,NaN,16200.000,2016.000,1.000,66.000,Used,1.000,NaN,Audi,A1,Black,Metallic,Mythosschwarz Metallic,Cloth,5.000,5.000,Automatic,1422.000,3.000,NaN,front,Diesel,109.000,Euro 6,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,CD player,Hands-free equipment,MP3,O...","Alloy wheels,Sport package,Sport suspension,Vo...","ABS,Central door lock,Driver-side airbag,Elect...",NaN,Germany,4.100,4.600,3.800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15914,Blue dCi 200CV EDC Executive 4Control,Van,39950.000,VAT deductible,NaN,NaN,NaN,147.000,New,NaN,24.000,Renault,Espace,Grey,Metallic,Grigio scuro,NaN,5.000,5.000,Automatic,1997.000,4.000,1758.000,front,Diesel,139.000,NaN,"Air conditioning,Automatic climate control,Cru...","Bluetooth,Digital radio,Hands-free equipment,O...","Alloy wheels,Touch screen","ABS,Central door lock,Central door lock with r...",6.000,NaN,5.300,6.200,4.700
15915,"TCe 225 EDC GPF LIM Deluxe Pano,RFK",Van,39885.000,VAT deductible,9900.000,2019.000,1.000,165.000,Used,1.000,NaN,Renault,Espace,Grey,Metallic,Stahl-Grau Metallic,Cloth,5.000,5.000,Automatic,1798.000,4.000,1708.000,front,Benzine,168.000,NaN,"Air conditioning,Automatic climate control,Cru...","Bluetooth,Digital radio,Hands-free equipment,R...","Alloy wheels,Touch screen,Voice Control","ABS,Adaptive Cruise Control,Blind spot monitor...",7.000,Germany,7.400,9.200,6.300
15916,Blue dCi 200 EDC Initiale Paris Leder LED Navi...,Van,39875.000,VAT deductible,15.000,2019.000,1.000,146.000,Pre-registered,1.000,NaN,Renault,Espace,White,NaN,arktis-weiß,Full leather,5.000,7.000,Automatic,1997.000,4.000,NaN,front,Diesel,139.000,Euro 6d-TEMP,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,Hands-free equipment,On-board comput...",Alloy wheels,"ABS,Adaptive Cruise Control,Blind spot monitor...",6.000,Austria,5.300,6.200,4.700
15917,"Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...",Van,39700.000,VAT deductible,10.000,2019.000,NaN,147.000,Pre-registered,NaN,NaN,Renault,Espace,Grey,NaN,Grigio,Part leather,5.000,7.000,Automatic,1997.000,4.000,1758.000,front,Diesel,139.000,Euro 6,"Air conditioning,Automatic climate control,Cru...","Bluetooth,Digital radio,Radio,USB","Alloy wheels,Touch screen","ABS,Blind spot monitor,Driver-side airbag,Elec...",6.000,NaN,5.300,6.200,4.700
15918,INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX,Van,40999.000,VAT deductible,NaN,2019.000,1.000,165.000,Demonstration,1.000,NaN,Renault,Espace,Grey,Metallic,Titanium-Grau Metallic,Full leather,5.000,5.000,Automatic,1798.000,4.000,1685.000,4WD,Benzine,153.000,Euro 6,"Air conditioning,Automatic climate control,Cru...",USB,"Alloy wheels,Touch screen","ABS,Blind spot monitor,Daytime running lights,...",NaN,Germany,6.800,8.700,5.700

# PART- 2 `( Handling With Missing Vales )`

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   short_description       15873 non-null  object
 1   body_type               15859 non-null  object
 2   price_€                 15919 non-null  float64
 3   vat                     11406 non-null  object
 4   km                      14895 non-null  float64
 5   registration            14322 non-null  float64
 6   prev_owner              9091 non-null   float64
 7   hp_kW                   15831 non-null  float64
 8   type                    15917 non-null  object
 9   previous_owners         9279 non-null   float64
 10  warranty                4853 non-null   float64
 11  make                    15919 non-null  object
 12  model                   15919 non-null  object
 13  body_color              15322 non-null  object
 14  paint_type              10147 non-null  object
 15  body_color_original     12145 non-null  object
 16  upholstery              12199 non-null  object
 17  nr_of_doors             15707 non-null  float64
 18  nr_of_seats             14942 non-null  float64
 19  gearing_type            15919 non-null  object
 20  engine_displacement_cc  15423 non-null  float64
 21  cylinders               10239 non-null  float64
 22  weight_kg               8945 non-null   float64
 23  drive_chain             9061 non-null   object
 24  fuel                    15919 non-null  object
 25  co2e_g                  13477 non-null  float64
 26  emission_class          12291 non-null  object
 27  comfort&convenience     14999 non-null  object
 28  entertainment&media     14545 non-null  object
 29  extras                  12957 non-null  object
 30  safety&security         14937 non-null  object
 31  gears                   11207 non-null  float64
 32  country_version         7586 non-null   object
 33  consumption_comb        12129 non-null  float64
 34  consumption_city        11880 non-null  float64
 35  consumption_cuntry      12554 non-null  float64
dtypes: float64(17), object(19)
memory usage: 4.4+ MB

In [4]:
# show group statistics
# df.groupby(['make_model'])['body_type'].describe().T
#df.groupby(["make_model", "type"]).size().unstack().T

# show group value count
# df.groupby(['make_model'])['body_type'].value_counts(dropna=False)

# show group list-set 
#df.groupby(['make_model'])['body_type'].apply(set)
# show group mode values
# df.groupby(['make_model'])['body_type'].apply(lambda x: x.mode()[0])

# Fillna kod örnekleri
# If Group Column have NaN values Deleting Some Real Datas in fillna Column Check .isna().sum()
# select group mode values with fillna
# df.groupby(['make_model'])['body_type'].apply(lambda x: x.fillna(x.mode()[0]))

# select group interpolate-ffill-bfill values
# df.groupby(['make_model'])['body_type'].apply(lambda x: x.interpolate().ffill().bfill())
# df.groupby(['make_model'])['body_type'].apply(lambda x: x.interpolate().median())
# df.groupby(['make_model'])['body_type'].apply(lambda x: x.fillna(x.interpolate().ffill().bfill()))

# group mode values - use when key error fillna column mode
# df.groupby(['make_model'])['body_type'].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df['body_type'].mode()[0]))
# df.groupby(['make_model'])['body_type'].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else x)) # Not Change NaN group

# NoN Group fillna column mode
# df.groupby(["make_model", 'age', 'registration_month'])['vat'].apply(lambda x : x.fillna(x.interpolate().ffill().bfill()).fillna(df['km'].mode()[0])).isna().sum()

# NoN Group fillna column interpolate
# df.groupby(['age', 'km'])['warranty_months'].apply(lambda x : x.fillna(x.median()).fillna(df['warranty_months'].interpolate().ffill().bfill())).value_counts(dropna=False).sum()

# Multi group fillna
# df['km'] = df.groupby(["make_model", "body_type", "cons_comb"])['km'].apply(lambda x : x.fillna(x.interpolate().ffill().bfill()))
# df['km'] = df.groupby(["body_type"])['km'].apply(lambda x : x.fillna(x.mode()[0]))
# df['km'].isna().sum()

# Multimode group fillna
# df['hp_kw'] = df.groupby(['make_model', 'body_type', 'gearing_type'])['hp_kw'].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else x))
# df['hp_kw'] = df.groupby(['make_model', 'gears'])['hp_kw'].apply(lambda x: x.fillna(x.mode()[0]))

# Handling With Missing Vales process priority
# df.describe(include='all').T.sort_values(by=['count'], ascending=False)

In [5]:
df.head().T

,0,1,2,3,4
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,1.4 TDi Design S tronic,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...
body_type,Sedans,Sedans,Sedans,Sedans,Sedans
price_€,15770.000,14500.000,14640.000,14500.000,16790.000
vat,VAT deductible,Price negotiable,VAT deductible,NaN,NaN
km,56013.000,80000.000,83450.000,73000.000,16200.000
registration,2016.000,2017.000,2016.000,2016.000,2016.000
prev_owner,2.000,NaN,1.000,1.000,1.000
hp_kW,66.000,141.000,85.000,66.000,66.000
type,Used,Used,Used,Used,Used
previous_owners,2.000,NaN,1.000,1.000,1.000
warranty,NaN,NaN,NaN,NaN,NaN
make,Audi,Audi,Audi,Audi,Audi
model,A1,A1,A1,A1,A1
body_color,Black,Red,Black,Brown,Black
paint_type,Metallic,NaN,Metallic,Metallic,Metallic
body_color_original,Mythosschwarz,NaN,mythosschwarz metallic,NaN,Mythosschwarz Metallic
upholstery,Cloth,Cloth,Cloth,NaN,Cloth
nr_of_doors,5.000,3.000,4.000,3.000,5.000
nr_of_seats,5.000,4.000,4.000,4.000,5.000
gearing_type,Automatic,Automatic,Automatic,Automatic,Automatic
engine_displacement_cc,1422.000,1798.000,1598.000,1422.000,1422.000
cylinders,3.000,4.000,NaN,3.000,3.000
weight_kg,1220.000,1255.000,NaN,1195.000,NaN
drive_chain,front,front,front,NaN,front
fuel,Diesel,Gasoline,Diesel,Diesel,Diesel
co2e_g,99.000,129.000,99.000,99.000,109.000
emission_class,Euro 6,Euro 6,Euro 6,Euro 6,Euro 6
comfort&convenience,"Air conditioning,Armrest,Automatic climate con...","Air conditioning,Automatic climate control,Hil...","Air conditioning,Cruise control,Electrical sid...","Air suspension,Armrest,Auxiliary heating,Elect...","Air conditioning,Armrest,Automatic climate con..."
entertainment&media,"Bluetooth,Hands-free equipment,On-board comput...","Bluetooth,Hands-free equipment,On-board comput...","MP3,On-board computer","Bluetooth,CD player,Hands-free equipment,MP3,O...","Bluetooth,CD player,Hands-free equipment,MP3,O..."
extras,"Alloy wheels,Catalytic Converter,Voice Control","Alloy wheels,Sport seats,Sport suspension,Voic...","Alloy wheels,Voice Control","Alloy wheels,Sport seats,Voice Control","Alloy wheels,Sport package,Sport suspension,Vo..."
safety&security,"ABS,Central door lock,Daytime running lights,D...","ABS,Central door lock,Central door lock with r...","ABS,Central door lock,Daytime running lights,D...","ABS,Alarm system,Central door lock with remote...","ABS,Central door lock,Driver-side airbag,Elect..."
gears,NaN,7.000,NaN,6.000,NaN
country_version,NaN,NaN,NaN,NaN,Germany
consumption_comb,3.800,5.600,3.800,3.800,4.100
consumption_city,4.300,7.100,4.400,4.300,4.600
consumption_cuntry,3.500,4.700,3.400,3.500,3.800

In [6]:
df.shape

(15919, 36)

In [7]:
df.isnull().sum()

short_description            46
body_type                    60
price_€                       0
vat                        4513
km                         1024
registration               1597
prev_owner                 6828
hp_kW                        88
type                          2
previous_owners            6640
warranty                  11066
make                          0
model                         0
body_color                  597
paint_type                 5772
body_color_original        3774
upholstery                 3720
nr_of_doors                 212
nr_of_seats                 977
gearing_type                  0
engine_displacement_cc      496
cylinders                  5680
weight_kg                  6974
drive_chain                6858
fuel                          0
co2e_g                     2442
emission_class             3628
comfort&convenience         920
entertainment&media        1374
extras                     2962
safety&security             982
gears                      4712
country_version            8333
consumption_comb           3790
consumption_city           4039
consumption_cuntry         3365
dtype: int64

In [8]:
# df.duplicated().value_counts()
# we decided not to drop duplicates for this project. Because every row has different URL column in original data set.

In [9]:
df0 = df.copy()

In [10]:
# df.drop_duplicates(keep = "first", inplace = True, ignore_index=True)

In [11]:
def check_other_column_values(row) :
    if any(i in str(row) for i in col_list) :
        return True
    else :
        False

def find_easy(col_main, col_other, pattern) :
    global col_list
    col_list = list(df[col_main].dropna().unique())
    if df[col_other].apply(check_other_column_values).isnull().sum() > 0 :
        df["find"] = df[col_other].str.extract(pattern)
        x_sum = df[df[col_main].isnull()]["find"].notna().sum()
        if x_sum > 0 :
            return f"{col_other} has {x_sum} values. You can fill {col_main} with them."
        else :
            return f"There ins't any useful information in {col_other} to fill {col_main}."

In [12]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
price_€,15919.000,18019.897,7386.169,13.000,12850.000,16900.000,21900.000,74600.000
km,14895.000,34130.128,37352.978,0.000,5153.000,22740.000,49371.500,317000.000
registration,14322.000,2017.458,1.077,2016.000,2016.000,2018.000,2018.000,2019.000
prev_owner,9091.000,1.090,0.295,1.000,1.000,1.000,1.000,4.000
hp_kW,15831.000,88.368,26.835,1.000,66.000,85.000,101.000,294.000
previous_owners,9279.000,1.068,0.330,0.000,1.000,1.000,1.000,4.000
warranty,4853.000,21.927,15.771,1.000,12.000,12.000,24.000,72.000
nr_of_doors,15707.000,4.656,0.645,1.000,4.000,5.000,5.000,7.000
nr_of_seats,14942.000,4.950,0.490,2.000,5.000,5.000,5.000,7.000
engine_displacement_cc,15423.000,1423.541,333.531,1.000,1229.000,1461.000,1598.000,16000.000
cylinders,10239.000,3.797,0.415,1.000,4.000,4.000,4.000,8.000
weight_kg,8945.000,1351.107,220.662,1.000,1165.000,1288.000,1487.000,2471.000
co2e_g,13477.000,123.794,270.000,14.000,104.000,116.000,129.000,14457.000
gears,11207.000,5.925,0.848,1.000,5.000,6.000,6.000,50.000
consumption_comb,12129.000,4.861,0.906,1.200,4.200,4.800,5.500,13.800
consumption_city,11880.000,5.973,1.409,3.300,4.700,5.800,7.100,19.900
consumption_cuntry,12554.000,4.214,0.676,2.900,3.700,4.200,4.600,10.300

In [13]:
df.describe(include="object").T

,count,unique,top,freq
short_description,15873,10001,SPB 1.6 TDI 116 CV S tronic Sport,64
body_type,15859,9,Sedans,7903
vat,11406,2,VAT deductible,10980
type,15917,5,Used,11096
make,15919,3,Opel,7343
model,15919,9,A3,3097
body_color,15322,14,Black,3745
paint_type,10147,3,Metallic,9794
body_color_original,12145,1926,Onyx Schwarz,338
upholstery,12199,6,Cloth,9206
gearing_type,15919,3,Manual,8153
drive_chain,9061,3,front,8886
fuel,15919,5,Diesel,7299
emission_class,12291,6,Euro 6,10139
comfort&convenience,14999,6198,"Air conditioning,Electrical side mirrors,Hill ...",216
entertainment&media,14545,346,"Bluetooth,Hands-free equipment,On-board comput...",1282
extras,12957,659,Alloy wheels,3245
safety&security,14937,4443,"ABS,Central door lock,Daytime running lights,D...",538
country_version,7586,23,Germany,4502

In [14]:
df["age"] = 2019 - df.registration
df.age

0       3.000
1       2.000
2       3.000
3       3.000
4       3.000
         ...
15914     NaN
15915   0.000
15916   0.000
15917   0.000
15918   0.000
Name: age, Length: 15919, dtype: float64

In [15]:
df.age.value_counts(dropna=False)

1.000    4522
3.000    3674
2.000    3273
0.000    2853
NaN      1597
Name: age, dtype: int64

In [16]:
df.drop(["registration", "short_description"], axis=1, inplace=True)

In [17]:
def check_df(col):
    print('column name : ', col)
    print('-+-'*25)
    print('Per_of_Nulls   : ', '%', round(df[col].isnull().sum() / df.shape[0]*100, 2))
    print('Num_of_Nulls   : ', df[col].isnull().sum())
    print(df[col].value_counts(dropna = False))
    print("*"*30)
    print("\n\n")

## 1 body type

In [18]:
check_df("body_type")

column name :  body_type
-+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+-
Per_of_Nulls   :  % 0.38
Num_of_Nulls   :  60
Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64
******************************

In [19]:
df[df.body_type.isnull()][["make", "model", "nr_of_doors", "nr_of_seats" ]]

          make     model  nr_of_doors  nr_of_seats
3175      Audi        A3        5.000        5.000
3255      Audi        A3        3.000        5.000
3975      Audi        A3        5.000        5.000
3997      Audi        A3        3.000          NaN
4206      Audi        A3        5.000          NaN
4297      Audi        A3        5.000          NaN
4298      Audi        A3        5.000          NaN
5718      Opel     Astra        5.000          NaN
5938      Opel     Astra        5.000          NaN
5940      Opel     Astra        5.000          NaN
6920      Opel     Astra        5.000          NaN
6922      Opel     Astra        5.000          NaN
6927      Opel     Astra        5.000          NaN
7709      Opel     Astra        5.000          NaN
8408      Opel     Corsa        5.000        5.000
8584      Opel     Corsa          NaN          NaN
10837     Opel  Insignia        5.000          NaN
10838     Opel  Insignia        5.000          NaN
10857     Opel  Insignia        5.000          NaN
13430  Renault      Clio        5.000          NaN
13470  Renault      Clio        5.000          NaN
13576  Renault      Clio        5.000          NaN
13703  Renault      Clio        5.000          NaN
13725  Renault      Clio        5.000          NaN
13852  Renault      Clio        5.000          NaN
13900  Renault      Clio        5.000          NaN
14107  Renault      Clio        5.000          NaN
14124  Renault      Clio        5.000          NaN
14127  Renault      Clio        5.000          NaN
14134  Renault      Clio        5.000          NaN
14135  Renault      Clio        5.000          NaN
14480  Renault      Clio        5.000        5.000
14869  Renault      Clio        5.000        5.000
14870  Renault      Clio        5.000        5.000
14928  Renault    Espace        5.000          NaN
14990  Renault    Espace        5.000          NaN
15058  Renault    Espace        5.000          NaN
15059  Renault    Espace        5.000          NaN
15060  Renault    Espace        5.000          NaN
15124  Renault    Espace        5.000          NaN
15269  Renault    Espace        5.000          NaN
15275  Renault    Espace        5.000          NaN
15289  Renault    Espace        5.000          NaN
15307  Renault    Espace        5.000          NaN
15378  Renault    Espace        5.000          NaN
15437  Renault    Espace        5.000        7.000
15452  Renault    Espace        5.000          NaN
15456  Renault    Espace        5.000          NaN
15457  Renault    Espace        5.000          NaN
15488  Renault    Espace        5.000          NaN
15489  Renault    Espace        5.000        7.000
15491  Renault    Espace        5.000        7.000
15499  Renault    Espace        5.000          NaN
15544  Renault    Espace        5.000          NaN
15556  Renault    Espace        5.000          NaN
15589  Renault    Espace        5.000        7.000
15696  Renault    Espace        5.000        7.000
15712  Renault    Espace        5.000        7.000
15736  Renault    Espace        5.000          NaN
15770  Renault    Espace        5.000          NaN

In [20]:
df.groupby(["make", "model"])["body_type"].describe(include="object")["top"]

make     model
Audi     A1                 Sedans
         A2               Off-Road
         A3                 Sedans
Opel     Astra       Station wagon
         Corsa             Compact
         Insignia    Station wagon
Renault  Clio               Sedans
         Duster           Off-Road
         Espace                Van
Name: top, dtype: object

In [21]:
# pd.set_option('display.max_rows', 150)

In [22]:
df.groupby(["make", "model", "nr_of_doors", "nr_of_seats" ])["body_type"].value_counts(dropna=False)

make     model   nr_of_doors  nr_of_seats  body_type
Audi     A1      2.000        3.000        Compact       1
                              4.000        Compact      65
                                           Sedans       26
                                           Coupe         1
                              5.000        Compact       2
                                                        ..
Renault  Espace  5.000        7.000        NaN           6
                                           Other         3
                                           Sedans        3
                                           Off-Road      2
                                           Compact       1
Name: body_type, Length: 149, dtype: int64

In [23]:
df.groupby(["make", "model"])["body_type"].apply(lambda x: x.fillna(x.mode()[0]))

0        Sedans
1        Sedans
2        Sedans
3        Sedans
4        Sedans
          ...
15914       Van
15915       Van
15916       Van
15917       Van
15918       Van
Name: body_type, Length: 15919, dtype: object

In [24]:
df.body_type.value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [25]:
df.groupby(["make", "model"])["body_type"].apply(lambda x: x.fillna(x.mode()[0]))

0        Sedans
1        Sedans
2        Sedans
3        Sedans
4        Sedans
          ...
15914       Van
15915       Van
15916       Van
15917       Van
15918       Van
Name: body_type, Length: 15919, dtype: object

In [26]:
df.body_type = df.groupby(["make", "model"])["body_type"].apply(lambda x: x.fillna(x.mode()[0]))

In [27]:
df.body_type.value_counts(dropna=False)

Sedans           7925
Station wagon    3563
Compact          3155
Van               809
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [28]:
df.shape

(15919, 35)

## 2 vat

In [29]:
check_df("vat")

column name :  vat
-+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+-
Per_of_Nulls   :  % 28.35
Num_of_Nulls   :  4513
VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64
******************************

In [30]:
df.vat.isnull().sum()

4513

In [31]:
df.head()

,body_type,price_€,vat,km,prev_owner,hp_kW,type,previous_owners,warranty,make,model,body_color,paint_type,body_color_original,upholstery,nr_of_doors,nr_of_seats,gearing_type,engine_displacement_cc,cylinders,weight_kg,drive_chain,fuel,co2e_g,emission_class,comfort&convenience,entertainment&media,extras,safety&security,gears,country_version,consumption_comb,consumption_city,consumption_cuntry,age
0,Sedans,15770.000,VAT deductible,56013.000,2.000,66.000,Used,2.000,NaN,Audi,A1,Black,Metallic,Mythosschwarz,Cloth,5.000,5.000,Automatic,1422.000,3.000,1220.000,front,Diesel,99.000,Euro 6,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Catalytic Converter,Voice Control","ABS,Central door lock,Daytime running lights,D...",NaN,NaN,3.800,4.300,3.500,3.000
1,Sedans,14500.000,Price negotiable,80000.000,NaN,141.000,Used,NaN,NaN,Audi,A1,Red,NaN,NaN,Cloth,3.000,4.000,Automatic,1798.000,4.000,1255.000,front,Gasoline,129.000,Euro 6,"Air conditioning,Automatic climate control,Hil...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Sport seats,Sport suspension,Voic...","ABS,Central door lock,Central door lock with r...",7.000,NaN,5.600,7.100,4.700,2.000
2,Sedans,14640.000,VAT deductible,83450.000,1.000,85.000,Used,1.000,NaN,Audi,A1,Black,Metallic,mythosschwarz metallic,Cloth,4.000,4.000,Automatic,1598.000,NaN,NaN,front,Diesel,99.000,Euro 6,"Air conditioning,Cruise control,Electrical sid...","MP3,On-board computer","Alloy wheels,Voice Control","ABS,Central door lock,Daytime running lights,D...",NaN,NaN,3.800,4.400,3.400,3.000
3,Sedans,14500.000,NaN,73000.000,1.000,66.000,Used,1.000,NaN,Audi,A1,Brown,Metallic,NaN,NaN,3.000,4.000,Automatic,1422.000,3.000,1195.000,NaN,Diesel,99.000,Euro 6,"Air suspension,Armrest,Auxiliary heating,Elect...","Bluetooth,CD player,Hands-free equipment,MP3,O...","Alloy wheels,Sport seats,Voice Control","ABS,Alarm system,Central door lock with remote...",6.000,NaN,3.800,4.300,3.500,3.000
4,Sedans,16790.000,NaN,16200.000,1.000,66.000,Used,1.000,NaN,Audi,A1,Black,Metallic,Mythosschwarz Metallic,Cloth,5.000,5.000,Automatic,1422.000,3.000,NaN,front,Diesel,109.000,Euro 6,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,CD player,Hands-free equipment,MP3,O...","Alloy wheels,Sport package,Sport suspension,Vo...","ABS,Central door lock,Driver-side airbag,Elect...",NaN,Germany,4.100,4.600,3.800,3.000

In [32]:
df.groupby("vat").describe()

                   price_€                                                  \
                     count      mean      std      min       25%       50%
vat
Price negotiable   426.000 16097.153 6345.227 6250.000 11900.000 15449.500
VAT deductible   10980.000 18708.520 7490.561 4990.000 13490.000 17850.000

                                            km                            \
                       75%       max     count      mean       std   min
vat
Price negotiable 18967.500 57400.000   426.000 45804.671 32718.334 1.000
VAT deductible   22720.000 74600.000 10196.000 31506.393 38380.170 0.000

                                                          prev_owner        \
                       25%       50%       75%        max      count  mean
vat
Price negotiable 21000.000 38500.000 62775.000 185000.000    266.000 1.350
VAT deductible    2499.000 19007.000 42210.500 291800.000   6777.000 1.042

                                                         hp_kW                \
                   std   min   25%   50%   75%   max     count   mean    std
vat
Price negotiable 0.544 1.000 1.000 1.000 2.000 4.000   426.000 88.998 29.264
VAT deductible   0.204 1.000 1.000 1.000 1.000 3.000 10929.000 89.466 26.262

                                                      previous_owners        \
                    min    25%    50%     75%     max           count  mean
vat
Price negotiable 51.000 66.000 85.000 103.000 294.000         266.000 1.350
VAT deductible   44.000 66.000 85.000 104.000 294.000        6907.000 1.022

                                                     warranty                \
                   std   min   25%   50%   75%   max    count   mean    std
vat
Price negotiable 0.544 1.000 1.000 1.000 2.000 4.000   28.000 16.286 10.937
VAT deductible   0.246 0.000 1.000 1.000 1.000 3.000 3351.000 23.916 16.948

                                                    nr_of_doors              \
                    min    25%    50%    75%    max       count  mean   std
vat
Price negotiable 12.000 12.000 12.000 12.000 60.000     421.000 4.665 0.736
VAT deductible    1.000 12.000 12.000 24.000 72.000   10820.000 4.648 0.627

                                               nr_of_seats                    \
                   min   25%   50%   75%   max       count  mean   std   min
vat
Price negotiable 2.000 5.000 5.000 5.000 7.000     413.000 4.877 0.584 2.000
VAT deductible   1.000 4.000 5.000 5.000 5.000   10314.000 4.968 0.430 2.000

                                         engine_displacement_cc           \
                   25%   50%   75%   max                  count     mean
vat
Price negotiable 5.000 5.000 5.000 7.000                416.000 1487.892
VAT deductible   5.000 5.000 5.000 7.000              10729.000 1421.270

                                                                       \
                     std     min      25%      50%      75%       max
vat
Price negotiable 774.517 898.000 1229.000 1461.000 1598.000 16000.000
VAT deductible   327.305   1.000 1229.000 1461.000 1598.000 15898.000

                 cylinders                                            \
                     count  mean   std   min   25%   50%   75%   max
vat
Price negotiable   410.000 3.817 0.440 3.000 4.000 4.000 4.000 6.000
VAT deductible    6794.000 3.772 0.424 1.000 4.000 4.000 4.000 6.000

                 weight_kg                                              \
                     count     mean     std      min      25%      50%
vat
Price negotiable   403.000 1334.950 208.951 1010.000 1165.000 1278.000
VAT deductible    5632.000 1361.925 221.296    1.000 1180.000 1308.000

                                     co2e_g                                 \
                      75%      max    count    mean     std    min     25%
vat
Price negotiable 1415.000 2295.000  406.000 113.192  19.089 36.000  99.000
VAT deductible   1503.000 2471.000 9684.000 127.441 318.250 14.000 105.000

                                              gears                          \
                     50%     75%       max    count  mean   std   min   25%
vat
Price negotiable 111.500 124.000   239.000  418.000 5.952 0.715 5.000 5.000
VAT deductible   117.000 132.000 14457.000 7484.000 5.956 0.899 1.000 5.000

                                    consumption_comb                          \
                   50%   75%    max            count  mean   std   min   25%
vat
Price negotiable 6.000 6.000  8.000          371.000 4.622 0.882 1.600 3.900
VAT deductible   6.000 6.000 50.000         8604.000 4.935 0.908 3.100 4.200

                                   consumption_city                          \
                   50%   75%   max            count  mean   std   min   25%
vat
Price negotiable 4.500 5.300 9.100          344.000 5.675 1.354 3.300 4.600
VAT deductible   4.900 5.600 8.700         8554.000 6.079 1.405 3.300 4.800

                                    consumption_cuntry                    \
                   50%   75%    max              count  mean   std   min
vat
Price negotiable 5.500 6.800 11.300            387.000 4.063 0.639 3.100
VAT deductible   5.900 7.200 16.100           9021.000 4.274 0.683 2.900

                                              age                          \
                   25%   50%   75%   max    count  mean   std   min   25%
vat
Price negotiable 3.600 3.900 4.400 7.800  426.000 2.340 0.763 0.000 2.000
VAT deductible   3.800 4.200 4.700 7.800 9652.000 1.352 1.067 0.000 1.000


                   50%   75%   max
vat
Price negotiable 3.000 3.000 3.000
VAT deductible   1.000 2.000 3.000

In [33]:
df.groupby("vat").describe(include=object)

                 body_type                        type                     \
                     count unique     top  freq  count unique   top  freq
vat
Price negotiable       426      9  Sedans   286    426      3  Used   421
VAT deductible       10980      9  Sedans  5248  10980      5  Used  6787

                   make                     model                  body_color  \
                  count unique   top  freq  count unique top  freq      count
vat
Price negotiable    426      3  Audi   182    426      7  A3   101        426
VAT deductible    10980      3  Opel  5415  10980      9  A3  2209      10586

                                     paint_type                         \
                 unique    top  freq      count unique       top  freq
vat
Price negotiable     10  Black   109        245      1  Metallic   245
VAT deductible       13  Black  2704       7558      3  Metallic  7312

                 body_color_original                                         \
                               count unique                        top freq
vat
Price negotiable                  17     17  Floretzilver (grijs metal    1
VAT deductible                  9543   1568               Onyx Schwarz  314

                 upholstery                     gearing_type                 \
                      count unique    top  freq        count unique     top
vat
Price negotiable        134      4  Cloth    82          426      3  Manual
VAT deductible         9780      6  Cloth  7404        10980      3  Manual

                       drive_chain                       fuel                 \
                  freq       count unique    top  freq  count unique     top
vat
Price negotiable   204          95      2  front    92    426      5  Diesel
VAT deductible    5502        6876      2  front  6762  10980      5  Diesel

                       emission_class                       \
                  freq          count unique     top  freq
vat
Price negotiable   223            401      6  Euro 6   361
VAT deductible    4776           8801      6  Euro 6  6915

                 comfort&convenience         \
                               count unique
vat
Price negotiable                 423    333
VAT deductible                 10811   4368

                                                                          \
                                                                top freq
vat
Price negotiable  Air conditioning,Seat ventilation,Split rear s...   15
VAT deductible    Air conditioning,Electrical side mirrors,Hill ...  163

                 entertainment&media         \
                               count unique
vat
Price negotiable                 414    100
VAT deductible                 10609    300

                                                                           \
                                                                top  freq
vat
Price negotiable  Bluetooth,CD player,Hands-free equipment,MP3,O...    32
VAT deductible    Bluetooth,Hands-free equipment,On-board comput...  1088

                 extras                            safety&security         \
                  count unique           top  freq           count unique
vat
Price negotiable    372    139  Alloy wheels    71             422    298
VAT deductible     9471    498  Alloy wheels  2092           10782   2973

                                                                          \
                                                                top freq
vat
Price negotiable  ABS,Adaptive Cruise Control,Alarm system,Centr...   12
VAT deductible    ABS,Central door lock,Daytime running lights,D...  461

                 country_version
                           count unique      top  freq
vat
Price negotiable              43      6    Italy    14
VAT deductible              5966     20  Germany  3812

In [34]:
df.vat.fillna(method="bfill").value_counts(dropna=False)

VAT deductible      15083
Price negotiable      836
Name: vat, dtype: int64

In [35]:
df["vat"] = df.vat.fillna(method="bfill")

In [36]:
df.vat.isnull().sum()

0

## 3. type

In [37]:
check_df("type")

column name :  type
-+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+-
Per_of_Nulls   :  % 0.01
Num_of_Nulls   :  2
Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
Name: type, dtype: int64
******************************

In [38]:
df[df.type.isnull()]

,body_type,price_€,vat,km,prev_owner,hp_kW,type,previous_owners,warranty,make,model,body_color,paint_type,body_color_original,upholstery,nr_of_doors,nr_of_seats,gearing_type,engine_displacement_cc,cylinders,weight_kg,drive_chain,fuel,co2e_g,emission_class,comfort&convenience,entertainment&media,extras,safety&security,gears,country_version,consumption_comb,consumption_city,consumption_cuntry,age
2765,Sedans,17900.000,Price negotiable,115137.000,NaN,110.000,NaN,NaN,NaN,Audi,A3,White,NaN,NaN,Cloth,5.000,5.000,Automatic,1968.000,4.000,NaN,front,Diesel,118.000,Euro 6,Air conditioning,"Bluetooth,Hands-free equipment","Alloy wheels,Sport seats,Sport suspension","ABS,Central door lock,Driver-side airbag,Isofi...",6.000,NaN,4.500,5.300,4.100,3.000
5237,Sedans,25400.000,VAT deductible,NaN,NaN,85.000,NaN,NaN,NaN,Audi,A3,Grey,NaN,NaN,Cloth,5.000,5.000,Automatic,1598.000,4.000,NaN,front,Diesel,103.000,Euro 6,Air conditioning,"Bluetooth,Hands-free equipment",Alloy wheels,"ABS,Central door lock,Driver-side airbag,Isofi...",7.000,NaN,3.900,4.100,3.700,NaN

In [39]:
# there are only 2 missing value in this column so we will fill these values with ffill method
df.type = df.type.fillna(method="ffill")

In [40]:
df.type.isnull().sum()

0

## 4. Age

In [41]:
df.columns

Index(['body_type', 'price_€', 'vat', 'km', 'prev_owner', 'hp_kW', 'type',
       'previous_owners', 'warranty', 'make', 'model', 'body_color',
       'paint_type', 'body_color_original', 'upholstery', 'nr_of_doors',
       'nr_of_seats', 'gearing_type', 'engine_displacement_cc', 'cylinders',
       'weight_kg', 'drive_chain', 'fuel', 'co2e_g', 'emission_class',
       'comfort&convenience', 'entertainment&media', 'extras',
       'safety&security', 'gears', 'country_version', 'consumption_comb',
       'consumption_city', 'consumption_cuntry', 'age'],
      dtype='object')

In [42]:
df.age.isnull().sum()

1597

In [43]:
df.groupby("type").age.median()

type
Demonstration    0.000
Employee's car   1.000
New              0.000
Pre-registered   0.000
Used             2.000
Name: age, dtype: float64

In [44]:
df.groupby("type").age.value_counts(dropna=False)

type            age
Demonstration   0.000     632
                1.000     130
                2.000      27
                NaN         5
                3.000       2
Employee's car  1.000     765
                0.000     127
                2.000      99
                3.000      17
                NaN         3
New             NaN      1547
                0.000     100
                1.000       3
Pre-registered  0.000    1187
                1.000     161
                2.000       9
                NaN         7
                3.000       1
Used            3.000    3654
                1.000    3463
                2.000    3138
                0.000     807
                NaN        35
Name: age, dtype: int64

In [45]:
df["age"] = df.groupby("type").age.apply(lambda x: x.fillna(x.median()))

In [46]:
df.groupby("type").age.value_counts(dropna=False)

type            age
Demonstration   0.000     637
                1.000     130
                2.000      27
                3.000       2
Employee's car  1.000     768
                0.000     127
                2.000      99
                3.000      17
New             0.000    1647
                1.000       3
Pre-registered  0.000    1194
                1.000     161
                2.000       9
                3.000       1
Used            3.000    3654
                1.000    3463
                2.000    3173
                0.000     807
Name: age, dtype: int64

In [47]:
df.age.value_counts(dropna=False)

1.000    4525
0.000    4412
3.000    3674
2.000    3308
Name: age, dtype: int64

## 5. km

In [48]:
check_df("km")

column name :  km
-+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+-
Per_of_Nulls   :  % 6.43
Num_of_Nulls   :  1024
10.000       1045
NaN          1024
1.000         367
5.000         170
50.000        148
             ...
67469.000       1
43197.000       1
10027.000       1
35882.000       1
57.000          1
Name: km, Length: 6690, dtype: int64
******************************

In [49]:
df.groupby(["age"])["km"].mean()

age
0.000    1657.779
1.000   18028.982
2.000   41525.075
3.000   77442.521
Name: km, dtype: float64

In [50]:
df.groupby(["type"])["km"].mean()

type
Demonstration     5099.474
Employee's car   20021.291
New                 17.079
Pre-registered     149.254
Used             43692.145
Name: km, dtype: float64

In [51]:
df[df.km.isnull()]["type"].value_counts(dropna=False)

New               849
Pre-registered    119
Demonstration      33
Used               15
Employee's car      8
Name: type, dtype: int64

In [52]:
df[df.km.isnull()]["age"].value_counts(dropna=False)

0.000    983
1.000     39
2.000      2
Name: age, dtype: int64

In [53]:
df.km = df.groupby(["type", "age"])["km"].apply(lambda x : x.fillna(x.mean()))

In [54]:
df.km.isnull().sum()

0

## 6 Prev Owner and Previous Owners

In [55]:
check_df("prev_owner")

column name :  prev_owner
-+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+-
Per_of_Nulls   :  % 42.89
Num_of_Nulls   :  6828
1.000    8294
NaN      6828
2.000     778
3.000      17
4.000       2
Name: prev_owner, dtype: int64
******************************

In [56]:
check_df("previous_owners")

column name :  previous_owners
-+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+-
Per_of_Nulls   :  % 41.71
Num_of_Nulls   :  6640
1.000    8294
NaN      6640
2.000     778
0.000     188
3.000      17
4.000       2
Name: previous_owners, dtype: int64
******************************

In [57]:
df[df.prev_owner.isnull()].groupby("age")["prev_owner"].value_counts(dropna=False)

age    prev_owner
0.000  NaN           2817
1.000  NaN           1482
2.000  NaN           1289
3.000  NaN           1240
Name: prev_owner, dtype: int64

In [58]:
df.groupby("age")["prev_owner"].value_counts(dropna=False)

age    prev_owner
0.000  NaN           2817
       1.000         1585
       2.000           10
1.000  1.000         2968
       NaN           1482
       2.000           75
2.000  1.000         1715
       NaN           1289
       2.000          296
       3.000            7
       4.000            1
3.000  1.000         2026
       NaN           1240
       2.000          397
       3.000           10
       4.000            1
Name: prev_owner, dtype: int64

In [59]:
df.groupby("previous_owners")["prev_owner"].value_counts(dropna=False)

previous_owners  prev_owner
0.000            NaN            188
1.000            1.000         8294
2.000            2.000          778
3.000            3.000           17
4.000            4.000            2
Name: prev_owner, dtype: int64

In [60]:
# as we see prev_owner and previous_owners columns are the same 
df.drop(columns="prev_owner", inplace=True)

In [61]:
df.groupby("type")["previous_owners"].value_counts(dropna=False)

type            previous_owners
Demonstration   1.000               508
                NaN                 282
                2.000                 6
Employee's car  1.000               641
                NaN                 356
                2.000                10
                0.000                 4
New             NaN                1471
                0.000               164
                1.000                15
Pre-registered  1.000               839
                NaN                 520
                2.000                 6
Used            1.000              6291
                NaN                4011
                2.000               756
                0.000                20
                3.000                17
                4.000                 2
Name: previous_owners, dtype: int64

In [62]:
df.previous_owners = df.groupby("type")["previous_owners"].apply(lambda x: x.fillna(x.mode()[0]))

In [63]:
df.previous_owners.isnull().sum()

0

In [64]:
df.previous_owners.value_counts(dropna=False)

1.000    13463
0.000     1659
2.000      778
3.000       17
4.000        2
Name: previous_owners, dtype: int64

## 7. hp_kW

In [65]:
check_df("hp_kW")

column name :  hp_kW
-+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+-
Per_of_Nulls   :  % 0.55
Num_of_Nulls   :  88
85.000     2542
66.000     2122
81.000     1402
100.000    1308
110.000    1112
           ...
84.000        1
195.000       1
44.000        1
239.000       1
9.000         1
Name: hp_kW, Length: 81, dtype: int64
******************************

In [66]:
df.groupby(["make", "model","body_type"])["hp_kW"].median()

make     model     body_type
Audi     A1        Compact          70.000
                   Coupe            77.500
                   Other            70.000
                   Sedans           70.000
                   Station wagon    70.000
                   Van             147.000
         A2        Off-Road         85.000
         A3        Compact          85.000
                   Convertible     110.000
                   Coupe            81.000
                   Other            85.000
                   Sedans           85.000
                   Station wagon    85.000
Opel     Astra     Compact          81.000
                   Coupe           106.500
                   Off-Road        110.000
                   Other            81.000
                   Sedans           81.000
                   Station wagon   100.000
         Corsa     Compact          66.000
                   Coupe            55.000
                   Off-Road         66.000
                   Other            66.000
                   Sedans           55.000
                   Transporter      55.000
                   Van              51.000
         Insignia  Compact         121.000
                   Coupe            81.000
                   Off-Road        125.000
                   Other           100.000
                   Sedans          103.000
                   Station wagon   121.000
                   Van             121.000
Renault  Clio      Compact          56.000
                   Coupe           147.000
                   Off-Road         71.000
                   Other            56.000
                   Sedans           56.000
                   Station wagon    66.000
                   Transporter      56.000
                   Van              55.000
         Duster    Off-Road         77.000
         Espace    Compact         133.000
                   Coupe           141.500
                   Off-Road        118.000
                   Other           118.000
                   Sedans          118.000
                   Station wagon   118.000
                   Transporter     118.000
                   Van             118.000
Name: hp_kW, dtype: float64

In [67]:
df[df.hp_kW.isnull()][["make", "model", "body_type"]]

          make   model body_type
1269      Audi      A1   Compact
2500      Audi      A1   Compact
4259      Audi      A3   Compact
7177      Opel   Astra    Sedans
7670      Opel   Astra   Compact
...        ...     ...       ...
15641  Renault  Espace       Van
15647  Renault  Espace       Van
15684  Renault  Espace       Van
15791  Renault  Espace       Van
15906  Renault  Espace       Van

[88 rows x 3 columns]

In [68]:
df.hp_kW = df.groupby(["make", "model","body_type"])["hp_kW"].apply(lambda x : x.fillna(x.median()))

In [69]:
df.hp_kW.isnull().sum()

0

## 8 warranty

In [70]:
check_df("warranty")

column name :  warranty
-+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+-
Per_of_Nulls   :  % 69.51
Num_of_Nulls   :  11066
NaN       11066
12.000     2594
24.000     1118
60.000      401
36.000      279
48.000      149
6.000       125
72.000       59
3.000        33
23.000       11
18.000       10
20.000        7
25.000        6
2.000         5
50.000        4
26.000        4
16.000        4
4.000         3
1.000         3
19.000        3
34.000        3
13.000        3
28.000        2
22.000        2
14.000        2
11.000        2
46.000        2
21.000        2
9.000         2
17.000        2
45.000        2
33.000        1
40.000        1
65.000        1
10.000        1
15.000        1
7.000         1
8.000         1
56.000        1
49.000        1
47.000        1
30.000        1
Name: warranty, dtype: int64
******************************

In [71]:
df["warranty"].value_counts(dropna=False)

NaN       11066
12.000     2594
24.000     1118
60.000      401
36.000      279
48.000      149
6.000       125
72.000       59
3.000        33
23.000       11
18.000       10
20.000        7
25.000        6
2.000         5
50.000        4
26.000        4
16.000        4
4.000         3
1.000         3
19.000        3
34.000        3
13.000        3
28.000        2
22.000        2
14.000        2
11.000        2
46.000        2
21.000        2
9.000         2
17.000        2
45.000        2
33.000        1
40.000        1
65.000        1
10.000        1
15.000        1
7.000         1
8.000         1
56.000        1
49.000        1
47.000        1
30.000        1
Name: warranty, dtype: int64

In [72]:
df.groupby("type")["warranty"].median()

type
Demonstration    36.000
Employee's car   12.000
New              24.000
Pre-registered   24.000
Used             12.000
Name: warranty, dtype: float64

In [73]:
df["warranty"] = df["warranty"].replace(to_replace=np.nan, value=0).astype("float")

In [74]:
df.loc[df["warranty"] != 0, "warranty"] = 1

In [75]:
df["warranty"].value_counts(dropna=False)

0.000    11066
1.000     4853
Name: warranty, dtype: int64

In [76]:
# We made a search on the internet. We found at not all the cars on the autoscout platform have a warranty.
# We got contact with autoscout officials on the meaning of NaN values of warranty column in the dataset 
# and they stated that every new car has a warranty but not all used cars have a warranty. 
# So we have filled all of the used cars to '0' and apllied fillna method for other values median of the "warranty" column values by groupby value of the "type" and "age" column.

In [77]:
#df[df.type == "Used"]["warranty"].fillna(0)
#df[df.type == "Used"]["warranty"].replace(np.nan, 0, inplace=True)

In [78]:
# df.warranty = df.groupby(["type", "age"])["warranty"].apply(lambda x : x.fillna(x.median()))

In [79]:
df.warranty.isnull().sum()

0

## 9 body color

In [80]:
check_df("body_color")

column name :  body_color
-+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+-
Per_of_Nulls   :  % 3.75
Num_of_Nulls   :  597
Black     3745
Grey      3505
White     3406
Silver    1647
Blue      1431
Red        957
NaN        597
Brown      289
Green      154
Beige      108
Yellow      51
Violet      18
Bronze       6
Orange       3
Gold         2
Name: body_color, dtype: int64
******************************

In [81]:
check_df("body_color_original")

column name :  body_color_original
-+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+-
Per_of_Nulls   :  % 23.71
Num_of_Nulls   :  3774
NaN                              3774
Onyx Schwarz                      338
Bianco                            282
Mythosschwarz Metallic            238
Brillantschwarz                   216
                                 ...
Rouge-Braun (G0Y)                   1
VARI COLRI DISPONIBILI              1
Kokosnussbraun Metallic             1
Farbe frei wählbar                  1
Perlmutt-Weiß Metallic (Weiß)       1
Name: body_color_original, Length: 1927, dtype: int64
******************************

In [82]:
df[df.body_color.isnull()]["body_color_original"].value_counts()

wählbar - ggf. mit Aufpreis       118
wählbar                            88
Metallic o. Uni (wählbar)          33
wählbar - ggf gegen Aufpreis       25
Other                              14
                                 ...
rouge eclat                         1
quarzgrau dunkel Grau metallic      1
Licht Grau M2                       1
graphitgrau Metallik                1
Farbe: Sonstige                     1
Name: body_color_original, Length: 85, dtype: int64

In [83]:
df.body_color = df.body_color.fillna(method="bfill")

In [84]:
df.body_color.isnull().sum()

0

## 10 paint type

In [85]:
check_df("paint_type")

column name :  paint_type
-+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+-
Per_of_Nulls   :  % 36.26
Num_of_Nulls   :  5772
Metallic       9794
NaN            5772
Uni/basic       347
Perl effect       6
Name: paint_type, dtype: int64
******************************

In [86]:
df[df.paint_type.isnull()]["body_color_original"].value_counts()

Brillantschwarz                179
Bianco                         163
wählbar - ggf. mit Aufpreis    118
Blanco                         110
Grigio                          91
                              ...
schnee-weiss                     1
schneeweiß/schwarz               1
rouge eclat                      1
Gris Cosmique                    1
Cosmos Blau Met                  1
Name: body_color_original, Length: 623, dtype: int64

In [87]:
df.paint_type = df.paint_type.fillna(method="ffill")

In [88]:
df.paint_type.isnull().sum()

0

## 11 body_color_original

In [89]:
df.drop(columns="body_color_original", inplace=True)

In [90]:
# Since this column contains irrelevant values and the values are in German, we have dropped this column.

## 12 upholstery

In [91]:
check_df("upholstery")

column name :  upholstery
-+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+-
Per_of_Nulls   :  % 23.37
Num_of_Nulls   :  3720
Cloth           9206
NaN             3720
Part leather    1499
Full leather    1009
Other            368
Velour            60
alcantara         57
Name: upholstery, dtype: int64
******************************

In [92]:
df[df.upholstery.isnull()]["extras"]

3                   Alloy wheels,Sport seats,Voice Control
9                                                      NaN
13               Alloy wheels,Sport seats,Sport suspension
16                  Alloy wheels,Sport package,Sport seats
22       Alloy wheels,Catalytic Converter,Sport seats,V...
                               ...
15906                                         Alloy wheels
15908                                         Alloy wheels
15909                            Alloy wheels,Touch screen
15912                            Alloy wheels,Touch screen
15914                            Alloy wheels,Touch screen
Name: extras, Length: 3720, dtype: object

In [93]:
import re 

def get_diff_category_column(Series:pd.Series, exclude=''',/\n''', pattern=r'''[,\n]| /''', strip='''\n' "!?|.,*+-_/][\\n''', diff_value=list()):  
    diff_value.clear()
    column = Series.dropna().apply(str).str.strip(strip)
    for row in column:
        if not any(x in exclude for x in row) and row not in diff_value:
            diff_value.append(row)
        else:
            for data in map(lambda x: x.strip(strip), filter(None, re.split(pattern, row))):
                if data not in diff_value:
                    diff_value.append(data)
    return dict(enumerate(sorted(diff_value)))

In [94]:
get_diff_category_column(df.extras)

{0: 'Alloy wheels',
 1: 'Cab or rented Car',
 2: 'Catalytic Converter',
 3: 'Handicapped enabled',
 4: 'Right hand drive',
 5: 'Roof rack',
 6: 'Shift paddles',
 7: 'Ski bag',
 8: 'Sliding door',
 9: 'Sport package',
 10: 'Sport seats',
 11: 'Sport suspensio',
 12: 'Touch scree',
 13: 'Trailer hitch',
 14: 'Tuned car',
 15: 'Voice Control',
 16: 'Winter tyres'}

In [95]:
df[df.upholstery.isnull()]["comfort&convenience"].str.contains("Leather seats").value_counts()

False    2939
True        2
Name: comfort&convenience, dtype: int64

In [96]:
df.columns

Index(['body_type', 'price_€', 'vat', 'km', 'hp_kW', 'type', 'previous_owners',
       'warranty', 'make', 'model', 'body_color', 'paint_type', 'upholstery',
       'nr_of_doors', 'nr_of_seats', 'gearing_type', 'engine_displacement_cc',
       'cylinders', 'weight_kg', 'drive_chain', 'fuel', 'co2e_g',
       'emission_class', 'comfort&convenience', 'entertainment&media',
       'extras', 'safety&security', 'gears', 'country_version',
       'consumption_comb', 'consumption_city', 'consumption_cuntry', 'age'],
      dtype='object')

In [97]:
df.groupby(["make", "model", "price_€"])["upholstery"].fillna(method="pad").fillna(method="backfill").value_counts(dropna=False, normalize=True)

Cloth          0.748
Part leather   0.124
Full leather   0.085
Other          0.032
Velour         0.006
alcantara      0.005
Name: upholstery, dtype: float64

In [98]:
df.upholstery = df.groupby(["make", "model", "price_€"])["upholstery"].fillna(method="pad").fillna(method="backfill")

In [99]:
# As the second option we can create an additional column according to "price_€" column("high", "medium", "low" price).
# We can fill NaN values of upholstery column by grouping this new column.

In [100]:
df.upholstery.isnull().sum()

0

In [101]:
df.isnull().sum()

body_type                    0
price_€                      0
vat                          0
km                           0
hp_kW                        0
type                         0
previous_owners              0
warranty                     0
make                         0
model                        0
body_color                   0
paint_type                   0
upholstery                   0
nr_of_doors                212
nr_of_seats                977
gearing_type                 0
engine_displacement_cc     496
cylinders                 5680
weight_kg                 6974
drive_chain               6858
fuel                         0
co2e_g                    2442
emission_class            3628
comfort&convenience        920
entertainment&media       1374
extras                    2962
safety&security            982
gears                     4712
country_version           8333
consumption_comb          3790
consumption_city          4039
consumption_cuntry        3365
age                          0
dtype: int64

## 13 nr_of_doors

In [102]:
check_df("nr_of_doors")

column name :  nr_of_doors
-+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+-
Per_of_Nulls   :  % 1.33
Num_of_Nulls   :  212
5.000    11575
4.000     3079
3.000      832
2.000      219
NaN        212
1.000        1
7.000        1
Name: nr_of_doors, dtype: int64
******************************

In [103]:
df.groupby(["make", "model", "body_type"])["nr_of_doors"].value_counts(dropna=False)

make     model   body_type    nr_of_doors
Audi     A1      Compact      5.000          666
                              4.000          207
                              3.000           80
                              2.000           69
                              NaN             17
                                            ...
Renault  Espace  Transporter  5.000           52
                 Van          5.000          704
                              4.000           90
                              NaN              8
                              7.000            1
Name: nr_of_doors, Length: 129, dtype: int64

In [104]:
df.groupby(["make", "model", "body_type"])["nr_of_doors"].mean()

make     model     body_type
Audi     A1        Compact         4.438
                   Coupe           3.500
                   Other           4.615
                   Sedans          4.563
                   Station wagon   4.762
                   Van             5.000
         A2        Off-Road        5.000
         A3        Compact         4.845
                   Convertible     2.375
                   Coupe           3.000
                   Other           4.188
                   Sedans          4.707
                   Station wagon   4.591
Opel     Astra     Compact         4.973
                   Coupe           4.000
                   Off-Road        5.000
                   Other           4.894
                   Sedans          4.763
                   Station wagon   4.768
         Corsa     Compact         4.011
                   Coupe           3.154
                   Off-Road        5.000
                   Other           4.851
                   Sedans          4.610
                   Transporter     3.857
                   Van               NaN
         Insignia  Compact         4.963
                   Coupe           4.000
                   Off-Road        5.000
                   Other           4.936
                   Sedans          4.718
                   Station wagon   4.717
                   Van             5.000
Renault  Clio      Compact         4.632
                   Coupe           4.000
                   Off-Road        5.000
                   Other           4.920
                   Sedans          4.952
                   Station wagon   4.841
                   Transporter     4.964
                   Van             5.000
         Duster    Off-Road        5.000
         Espace    Compact         4.833
                   Coupe           5.000
                   Off-Road        4.857
                   Other           5.000
                   Sedans          4.571
                   Station wagon   4.956
                   Transporter     5.000
                   Van             4.889
Name: nr_of_doors, dtype: float64

In [105]:
# group mode values - use when key error fillna column mode

In [106]:
df.groupby(["make", "model", "body_type"])["nr_of_doors"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["nr_of_doors"].mode()[0])).value_counts(dropna=False)

5.000    11787
4.000     3079
3.000      832
2.000      219
1.000        1
7.000        1
Name: nr_of_doors, dtype: int64

In [107]:
df.nr_of_doors = df.groupby(["make", "model", "body_type"])["nr_of_doors"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["nr_of_doors"].mode()[0]))

In [108]:
df.nr_of_doors.value_counts(dropna=False)

5.000    11787
4.000     3079
3.000      832
2.000      219
1.000        1
7.000        1
Name: nr_of_doors, dtype: int64

In [109]:
df.nr_of_doors.isnull().sum()

0

## 14 nr_of_seats

In [110]:
check_df("nr_of_seats")

column name :  nr_of_seats
-+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+-
Per_of_Nulls   :  % 6.14
Num_of_Nulls   :  977
5.000    13336
4.000     1125
NaN        977
7.000      362
2.000      116
6.000        2
3.000        1
Name: nr_of_seats, dtype: int64
******************************

In [111]:
df.groupby(["make", "model", "body_type"])["nr_of_seats"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["nr_of_seats"].mode()[0])).value_counts(dropna=False)

5.000    14308
4.000     1127
7.000      362
2.000      119
6.000        2
3.000        1
Name: nr_of_seats, dtype: int64

In [112]:
df.nr_of_seats = df.groupby(["make", "model", "body_type"])["nr_of_seats"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["nr_of_seats"].mode()[0]))

In [113]:
df.nr_of_seats.isnull().sum()

0

In [114]:
df.nr_of_seats.value_counts(dropna=False)

5.000    14308
4.000     1127
7.000      362
2.000      119
6.000        2
3.000        1
Name: nr_of_seats, dtype: int64

## 15 cylinders

In [115]:
check_df("cylinders")

column name :  cylinders
-+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+-
Per_of_Nulls   :  % 35.68
Num_of_Nulls   :  5680
4.000    8105
NaN      5680
3.000    2104
5.000      22
6.000       3
8.000       2
2.000       2
1.000       1
Name: cylinders, dtype: int64
******************************

In [116]:
df.groupby(["make", "model", "hp_kW"])["cylinders"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["cylinders"].mode()[0])).value_counts(dropna=False)

4.000    12559
3.000     3325
5.000       22
8.000        7
6.000        3
2.000        2
1.000        1
Name: cylinders, dtype: int64

In [117]:
df["cylinders"] = df.groupby(["make", "model", "hp_kW"])["cylinders"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["cylinders"].mode()[0]))

In [118]:
df["cylinders"].isnull().sum()

0

## 16 engine_displacement_cc

In [119]:
check_df("engine_displacement_cc")

column name :  engine_displacement_cc
-+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+-
Per_of_Nulls   :  % 3.12
Num_of_Nulls   :  496
1598.000    4761
999.000     2438
1398.000    1314
1399.000     749
1229.000     677
            ...
122.000        1
1198.000       1
1195.000       1
2967.000       1
1800.000       1
Name: engine_displacement_cc, Length: 78, dtype: int64
******************************

In [120]:
df.groupby(["make", "model", "cylinders", "hp_kW"])["engine_displacement_cc"].apply(lambda x : x.fillna(x.mode()[0] if any(x.mode()) else df["engine_displacement_cc"].mode()[0])).value_counts(dropna=False)

1598.000    4991
999.000     2463
1398.000    1348
1399.000     765
1229.000     708
            ...
122.000        1
1198.000       1
1195.000       1
2967.000       1
1800.000       1
Name: engine_displacement_cc, Length: 77, dtype: int64

In [121]:
df["engine_displacement_cc"] = df.groupby(["make", "model", "cylinders", "hp_kW"])["engine_displacement_cc"].apply(lambda x : x.fillna(x.mode()[0] if any(x.mode()) else df["engine_displacement_cc"].mode()[0]))

In [122]:
df["engine_displacement_cc"].isnull().sum()

0

## 17 weight

In [123]:
check_df("weight_kg")

column name :  weight_kg
-+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+-
Per_of_Nulls   :  % 43.81
Num_of_Nulls   :  6974
NaN         6974
1163.000     574
1360.000     356
1165.000     301
1335.000     242
            ...
1960.000       1
1258.000       1
1167.000       1
1331.000       1
2037.000       1
Name: weight_kg, Length: 435, dtype: int64
******************************

In [124]:
df.groupby(["make", "model", "body_type"])["weight_kg"].value_counts(dropna=False)

make     model   body_type  weight_kg
Audi     A1      Compact    NaN          526
                            1180.000      86
                            1165.000      77
                            1200.000      65
                            1135.000      53
                                        ...
Renault  Espace  Van        1939.000       1
                            1975.000       1
                            2037.000       1
                            2353.000       1
                            2410.000       1
Name: weight_kg, Length: 936, dtype: int64

In [125]:
df.groupby(["make", "model", "body_type"])["weight_kg"].mean()

make     model     body_type
Audi     A1        Compact         1174.546
                   Coupe           1010.000
                   Other           1212.500
                   Sedans          1259.656
                   Station wagon   1228.571
                   Van                  NaN
         A2        Off-Road             NaN
         A3        Compact         1314.637
                   Convertible     1519.286
                   Coupe           1260.000
                   Other           1318.333
                   Sedans          1395.620
                   Station wagon   1318.363
Opel     Astra     Compact         1302.549
                   Coupe           1350.000
                   Off-Road        1340.000
                   Other           1325.407
                   Sedans          1328.364
                   Station wagon   1403.742
         Corsa     Compact         1174.057
                   Coupe           1203.000
                   Off-Road        1187.667
                   Other           1169.253
                   Sedans          1171.566
                   Transporter     1181.000
                   Van             1124.000
         Insignia  Compact         1468.150
                   Coupe                NaN
                   Off-Road        1508.000
                   Other           1524.385
                   Sedans          1540.356
                   Station wagon   1627.555
                   Van                  NaN
Renault  Clio      Compact         1126.194
                   Coupe                NaN
                   Off-Road        1163.500
                   Other           1169.750
                   Sedans          1174.216
                   Station wagon   1190.965
                   Transporter     1169.875
                   Van                  NaN
         Duster    Off-Road             NaN
         Espace    Compact         1690.500
                   Coupe                NaN
                   Off-Road        1734.000
                   Other           1734.200
                   Sedans          1864.500
                   Station wagon   1689.205
                   Transporter     1948.939
                   Van             1711.070
Name: weight_kg, dtype: float64

In [126]:
df.groupby(["make", "model", "body_type"])["weight_kg"].median()

make     model     body_type
Audi     A1        Compact         1180.000
                   Coupe           1010.000
                   Other           1217.500
                   Sedans          1195.000
                   Station wagon   1205.000
                   Van                  NaN
         A2        Off-Road             NaN
         A3        Compact         1280.000
                   Convertible     1555.000
                   Coupe           1250.000
                   Other           1355.000
                   Sedans          1350.000
                   Station wagon   1335.000
Opel     Astra     Compact         1325.000
                   Coupe           1350.000
                   Off-Road        1340.000
                   Other           1350.000
                   Sedans          1308.000
                   Station wagon   1393.000
         Corsa     Compact         1163.000
                   Coupe           1159.500
                   Off-Road        1163.000
                   Other           1163.000
                   Sedans          1163.000
                   Transporter     1181.000
                   Van             1124.000
         Insignia  Compact         1487.500
                   Coupe                NaN
                   Off-Road        1487.000
                   Other           1503.000
                   Sedans          1503.000
                   Station wagon   1623.000
                   Van                  NaN
Renault  Clio      Compact         1090.000
                   Coupe                NaN
                   Off-Road        1163.500
                   Other           1091.000
                   Sedans          1162.000
                   Station wagon   1175.000
                   Transporter     1181.500
                   Van                  NaN
         Duster    Off-Road             NaN
         Espace    Compact         1690.500
                   Coupe                NaN
                   Off-Road        1734.000
                   Other           1734.000
                   Sedans          1864.500
                   Station wagon   1684.000
                   Transporter     1734.000
                   Van             1685.000
Name: weight_kg, dtype: float64

In [127]:
df.groupby(["make", "model", "body_type"])["weight_kg"].apply(lambda x : x.fillna(x.median() if (x.median() >= 1) else df["weight_kg"].median())).value_counts(dropna=False)

1163.000    1547
1350.000    1147
1623.000     877
1195.000     702
1180.000     694
            ...
1258.000       1
1167.000       1
1331.000       1
1132.000       1
2037.000       1
Name: weight_kg, Length: 440, dtype: int64

In [128]:
df["weight_kg"] = df.groupby(["make", "model", "body_type"])["weight_kg"].apply(lambda x : x.fillna(x.median() if (x.median() >= 1) else df["weight_kg"].median()))

In [129]:
# df.groupby(["make", "model", "body_type"])["weight_kg"].fillna(method= "backfill").fillna(method= "pad").value_counts(dropna=False)

In [130]:
# df["weight_kg"] = df.groupby(["make", "model", "body_type"])["weight_kg"].fillna(method= "backfill").fillna(method= "pad")

In [131]:
df["weight_kg"].value_counts(dropna=False)

1163.000    1547
1350.000    1147
1623.000     877
1195.000     702
1180.000     694
            ...
1258.000       1
1167.000       1
1331.000       1
1132.000       1
2037.000       1
Name: weight_kg, Length: 440, dtype: int64

In [132]:
df["weight_kg"].isnull().sum()

0

## 18 drive chain

In [133]:
df.groupby(["make", "model", "body_type"])["drive_chain"].value_counts(dropna=False)

make     model   body_type    drive_chain
Audi     A1      Compact      front          685
                              NaN            352
                              4WD              2
                 Coupe        NaN              2
                 Other        front           12
                                            ...
Renault  Espace  Transporter  front            6
                              4WD              1
                 Van          NaN            391
                              front          374
                              4WD             38
Name: drive_chain, Length: 107, dtype: int64

In [134]:
df.groupby(["make", "model", "body_type"])["drive_chain"].apply(lambda x : x.fillna(x.mode()[0] if any(x.mode()) else df["drive_chain"].mode()[0])).value_counts(dropna=False)

front    15711
4WD        204
rear         4
Name: drive_chain, dtype: int64

In [135]:
df["drive_chain"] = df.groupby(["make", "model", "body_type"])["drive_chain"].apply(lambda x : x.fillna(x.mode()[0] if any(x.mode()) else df["drive_chain"].mode()[0]))

In [136]:
df["drive_chain"].isnull().sum()

0

## 19 co2e_g

In [137]:
check_df("co2e_g")

column name :  co2e_g
-+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+-
Per_of_Nulls   :  % 15.34
Num_of_Nulls   :  2442
NaN         2442
120.000      740
99.000       545
97.000       537
104.000      501
            ...
160.000        1
331.000        1
990.000        1
1060.000       1
193.000        1
Name: co2e_g, Length: 120, dtype: int64
******************************

In [138]:
df.groupby(["make", "model", "fuel"])["co2e_g"].mean()

make     model     fuel
Audi     A1        Benzine    106.928
                   Diesel     100.101
                   Gasoline   105.097
         A2        Diesel         NaN
         A3        Benzine    115.402
                   Diesel     106.831
                   Electric    36.000
                   Gasoline   118.953
                   LPG/CNG     97.000
Opel     Astra     Benzine    125.887
                   Diesel     105.849
                   Gasoline   224.799
                   LPG/CNG    113.000
         Corsa     Benzine    133.145
                   Diesel      99.456
                   Gasoline   142.224
                   LPG/CNG    117.667
         Insignia  Benzine    182.613
                   Diesel     132.546
                   Gasoline   142.229
Renault  Clio      Benzine    121.817
                   Diesel      89.530
                   Electric       NaN
                   Gasoline   123.863
                   LPG/CNG     98.000
         Duster    Gasoline   177.000
         Espace    Benzine    158.119
                   Diesel     124.425
                   Gasoline   151.237
Name: co2e_g, dtype: float64

In [139]:
df.groupby(["make", "model", "fuel"])["co2e_g"].value_counts(dropna=False)

make     model   fuel      co2e_g
Audi     A1      Benzine   102.000    171
                           97.000     169
                           111.000    168
                           104.000    124
                           108.000     98
                                     ...
Renault  Espace  Gasoline  152.000     14
                           168.000      5
                           174.000      3
                           147.000      1
                           161.000      1
Name: co2e_g, Length: 660, dtype: int64

In [140]:
df.groupby(["make", "model", "fuel"])["co2e_g"].apply(lambda x : x.fillna(x.median() if (x.median() > 13) else df["co2e_g"].median())).value_counts(dropna=False)

120.000      979
104.000      712
99.000       617
135.000      594
97.000       537
            ...
80.000         1
14.000         1
12324.000      1
51.000         1
193.000        1
Name: co2e_g, Length: 119, dtype: int64

In [141]:
df["co2e_g"] = df.groupby(["make", "model", "fuel"])["co2e_g"].apply(lambda x : x.fillna(x.median() if (x.median() > 13) else df["co2e_g"].median()))

In [142]:
df["co2e_g"].isnull().sum()

0

In [143]:
df.isnull().sum()

body_type                    0
price_€                      0
vat                          0
km                           0
hp_kW                        0
type                         0
previous_owners              0
warranty                     0
make                         0
model                        0
body_color                   0
paint_type                   0
upholstery                   0
nr_of_doors                  0
nr_of_seats                  0
gearing_type                 0
engine_displacement_cc       0
cylinders                    0
weight_kg                    0
drive_chain                  0
fuel                         0
co2e_g                       0
emission_class            3628
comfort&convenience        920
entertainment&media       1374
extras                    2962
safety&security            982
gears                     4712
country_version           8333
consumption_comb          3790
consumption_city          4039
consumption_cuntry        3365
age                          0
dtype: int64

## 20 emission_class

In [144]:
check_df("emission_class")

column name :  emission_class
-+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+-
Per_of_Nulls   :  % 22.79
Num_of_Nulls   :  3628
Euro 6          10139
NaN              3628
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
Name: emission_class, dtype: int64
******************************

In [145]:
df.groupby(["make", "model", "fuel"])["emission_class"].value_counts(dropna=False)

make     model   fuel      emission_class
Audi     A1      Benzine   Euro 6            672
                           Euro 6d-TEMP      219
                           NaN               205
                           Euro 6d             5
                           Euro 5              2
                                            ...
Renault  Espace  Diesel    Euro 6d             5
                           Euro 5              1
                 Gasoline  Euro 6             71
                           NaN                35
                           Euro 5              1
Name: emission_class, Length: 124, dtype: int64

In [146]:
df.groupby(["make", "model", "fuel", "age"])["emission_class"].fillna(method="bfill").fillna(method="ffill").value_counts(dropna=False)

Euro 6          13044
Euro 6d-TEMP     2460
Euro 6c           183
Euro 6d            94
Euro 5             93
Euro 4             45
Name: emission_class, dtype: int64

In [147]:
df["emission_class"] = df.groupby(["make", "model", "fuel", "age"])["emission_class"].fillna(method="bfill").fillna(method="ffill")

In [148]:
df["emission_class"].isnull().sum()

0

In [149]:
df.isnull().sum()

body_type                    0
price_€                      0
vat                          0
km                           0
hp_kW                        0
type                         0
previous_owners              0
warranty                     0
make                         0
model                        0
body_color                   0
paint_type                   0
upholstery                   0
nr_of_doors                  0
nr_of_seats                  0
gearing_type                 0
engine_displacement_cc       0
cylinders                    0
weight_kg                    0
drive_chain                  0
fuel                         0
co2e_g                       0
emission_class               0
comfort&convenience        920
entertainment&media       1374
extras                    2962
safety&security            982
gears                     4712
country_version           8333
consumption_comb          3790
consumption_city          4039
consumption_cuntry        3365
age                          0
dtype: int64

## 21 comfort&convenience

In [150]:
check_df("comfort&convenience")

column name :  comfort&convenience
-+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+-
Per_of_Nulls   :  % 5.78
Num_of_Nulls   :  920
NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  920
Air conditioning,Electrical side mirrors,Hill Holder,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                   216
Air conditioning,Electrical side mirrors,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                               134
Air conditioning,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                                       130
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system                                                                                                                                                   105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ...
Air conditioning,Cruise control,Electrical side mirrors,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors rear,Power windows,Rain sensor,Split rear seats,Start-stop system,Tinted windows                                                                                                                                                                                                           1
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof                                                                                                1
Air conditioning,Armrest,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Split rear seats,Start-stop system,Tinted windows                                                                                                                 1
Air conditioning,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating                                                                                                                                                                                                                1
Air conditioning,Automatic climate control,Cruise control,Electrically heated windshield,Electrical side mirrors,Electric tailgate,Heads-up display,Heated steering wheel,Hill Holder,Keyless central door lock,Leather steering wheel,Light sensor,Lumbar support,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system self-steering,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof      1
Name: comfort&convenience, Length: 6199, dtype: int64
******************************

In [151]:
df[df["comfort&convenience"].isnull()][["make", "model", "age", "body_type"]].value_counts(dropna=False)

make     model     age    body_type
Audi     A3        3.000  Sedans           47
Opel     Insignia  0.000  Sedans           43
         Corsa     1.000  Other            43
         Insignia  0.000  Station wagon    38
         Astra     1.000  Other            34
                                           ..
Audi     A3        3.000  Station wagon     1
Renault  Clio      2.000  Van               1
Opel     Corsa     2.000  Off-Road          1
                          Sedans            1
         Astra     1.000  Sedans            1
Length: 90, dtype: int64

In [152]:
df.groupby(["make", "model", "age", "body_type"])["comfort&convenience"].fillna(method="pad").fillna(method="backfill").isnull().sum()

0

In [153]:
df["comfort&convenience"] = df.groupby(["make", "model", "age", "body_type"])["comfort&convenience"].fillna(method="pad").fillna(method="backfill")

In [154]:
df["comfort&convenience"].isnull().sum()

0

## 22 entertainment&media

In [155]:
check_df("entertainment&media")

column name :  entertainment&media
-+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+-
Per_of_Nulls   :  % 8.63
Num_of_Nulls   :  1374
NaN                                                                                                 1374
Bluetooth,Hands-free equipment,On-board computer,Radio,USB                                          1282
Bluetooth,Hands-free equipment,MP3,On-board computer,Radio,USB                                       982
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,USB                             783
On-board computer,Radio                                                                              487
                                                                                                    ...
Bluetooth,CD player,Digital radio,Hands-free equipment,Radio                                           1
CD player,Hands-free equipment,MP3,Radio,USB                                                           1
MP3,Radio,Sound system,USB                                                                             1
Bluetooth,MP3,On-board computer,Radio,Television,USB                                                   1
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,Sound system,Television,USB       1
Name: entertainment&media, Length: 347, dtype: int64
******************************

In [156]:
df[df["entertainment&media"].isnull()][["make", "model", "age", "body_type"]].value_counts(dropna=False)

make     model     age    body_type
Renault  Clio      2.000  Sedans         57
Audi     A3        3.000  Sedans         55
Renault  Clio      3.000  Sedans         49
Opel     Insignia  0.000  Sedans         46
Renault  Espace    2.000  Van            45
                                         ..
                   3.000  Other           1
                          Sedans          1
         Clio      1.000  Other           1
Opel     Corsa     3.000  Transporter     1
                   2.000  Off-Road        1
Length: 101, dtype: int64

In [157]:
df["entertainment&media"] = df.groupby(["make", "model", "age", "body_type"])["entertainment&media"].fillna(method="pad").fillna(method="backfill")

In [158]:
df["entertainment&media"].isnull().sum()

0

## 23 extras

In [159]:
check_df("extras")

column name :  extras
-+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+-
Per_of_Nulls   :  % 18.61
Num_of_Nulls   :  2962
Alloy wheels                                                                                               3245
NaN                                                                                                        2962
Alloy wheels,Touch screen                                                                                   697
Alloy wheels,Voice Control                                                                                  577
Alloy wheels,Touch screen,Voice Control                                                                     541
                                                                                                           ...
Alloy wheels,Catalytic Converter,Shift paddles,Sport package,Sport seats,Sport suspension,Voice Control       1
Alloy wheels,Catalytic Converter,Roof rack,Sport package,Sport seats,Trailer hitch                            1
Alloy wheels,Catalytic Converter,Ski bag,Sport package,Voice Control                                          1
Catalytic Converter,Roof rack,Sport seats,Sport suspension                                                    1
Alloy wheels,Shift paddles,Ski bag,Sport seats,Sport suspension,Touch screen,Voice Control                    1
Name: extras, Length: 660, dtype: int64
******************************

In [160]:
df[df["extras"].isnull()][["make", "model", "age", "body_type"]].value_counts(dropna=False)

make     model   age    body_type
Renault  Clio    2.000  Sedans           131
                 0.000  Compact          123
Opel     Corsa   0.000  Compact          123
                 3.000  Compact          119
Renault  Clio    3.000  Sedans           108
                                        ...
         Espace  1.000  Coupe              1
                 0.000  Coupe              1
Audi     A1      1.000  Station wagon      1
Renault  Clio    1.000  Van                1
Opel     Corsa   0.000  Transporter        1
Length: 115, dtype: int64

In [161]:
df.groupby(["make", "model", "age", "body_type"])["extras"].value_counts()

make     model   age    body_type  extras
Audi     A1      0.000  Compact    Alloy wheels                                                          65
                                   Alloy wheels,Catalytic Converter,Voice Control                        54
                                   Alloy wheels,Voice Control                                            51
                                   Alloy wheels,Catalytic Converter                                      15
                                   Alloy wheels,Sport seats,Voice Control                                12
                                                                                                         ..
Renault  Espace  3.000  Van        Alloy wheels,Sport seats,Trailer hitch,Voice Control                   1
                                   Alloy wheels,Sport suspension,Touch screen                             1
                                   Alloy wheels,Sport suspension,Touch screen,Voice Control               1
                                   Alloy wheels,Touch screen,Trailer hitch,Voice Control,Winter tyres     1
                                   Sport seats                                                            1
Name: extras, Length: 2730, dtype: int64

In [162]:
df["extras"] = df.groupby(["make", "model", "age", "body_type"])["extras"].fillna(method="pad").fillna(method="backfill")

In [163]:
df["extras"].isnull().sum()

0

## 24 safety&security

In [164]:
check_df("safety&security")

column name :  safety&security
-+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+-
Per_of_Nulls   :  % 6.17
Num_of_Nulls   :  982
NaN                                                                                                                                                                                                                                                                                                                                                               982
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                      538
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                                 480
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                                                                                                275
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                           272
                                                                                                                                                                                                                                                                                                                                                                 ...
ABS,Central door lock,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag                                                                                                                                                                                                                                              1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                 1
ABS,Adaptive Cruise Control,Alarm system,Central door lock,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Power steering,Tire pressure monitoring system,Traction control                                                                                                                                                  1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traffic sign recognition      1
Name: safety&security, Length: 4444, dtype: int64
******************************

In [165]:
df["safety&security"] = df.groupby(["make", "model", "age", "body_type"])["safety&security"].fillna(method="pad").fillna(method="backfill")

In [166]:
df["safety&security"].isnull().sum()

0

## 25 gears

In [167]:
check_df("gears")

column name :  gears
-+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+-
Per_of_Nulls   :  % 29.6
Num_of_Nulls   :  4712
6.000     5822
NaN       4712
5.000     3239
7.000     1908
8.000      224
9.000        6
1.000        2
3.000        2
4.000        2
2.000        1
50.000       1
Name: gears, dtype: int64
******************************

In [168]:
df.groupby(["make", "model", "body_type"])["gears"].value_counts(dropna=False)

make     model   body_type  gears
Audi     A1      Compact    NaN      473
                            5.000    280
                            7.000    202
                            6.000     83
                            8.000      1
                                    ...
Renault  Espace  Van        NaN      329
                            7.000    105
                            9.000      6
                            3.000      2
                            4.000      2
Name: gears, Length: 143, dtype: int64

In [169]:
df[df.gears.isnull()][["make", "model", "body_type"]].value_counts()

make     model     body_type
Audi     A3        Sedans           574
Opel     Insignia  Station wagon    497
         Corsa     Compact          482
Audi     A1        Compact          473
                   Sedans           466
Opel     Astra     Station wagon    428
                   Sedans           337
Renault  Espace    Van              329
         Clio      Compact          250
Opel     Insignia  Sedans           187
Renault  Clio      Sedans           170
Audi     A3        Station wagon    130
Opel     Corsa     Sedans           119
Renault  Clio      Station wagon     95
                   Other             26
Audi     A3        Compact           19
Renault  Clio      Transporter       18
Opel     Astra     Compact           17
Renault  Espace    Sedans            15
Opel     Astra     Other              9
Renault  Duster    Off-Road           9
         Espace    Station wagon      9
Opel     Insignia  Other              8
Audi     A1        Station wagon      7
Opel     Corsa     Other              6
Audi     A1        Other              5
Renault  Espace    Other              3
                   Compact            3
Audi     A3        Other              3
Renault  Clio      Van                2
Opel     Corsa     Van                2
Renault  Espace    Coupe              2
                   Off-Road           2
Opel     Corsa     Coupe              2
Renault  Espace    Transporter        2
Opel     Insignia  Off-Road           1
                   Coupe              1
Audi     A1        Coupe              1
         A2        Off-Road           1
Opel     Astra     Coupe              1
         Insignia  Compact            1
dtype: int64

In [170]:
df.gears = df.groupby(["make", "model", "body_type"])["gears"].fillna(method="ffill").fillna(method = "bfill")

In [171]:
df.gears.isnull().sum()

0

## 26 country_version

In [172]:
check_df("country_version")

column name :  country_version
-+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+-
Per_of_Nulls   :  % 52.35
Num_of_Nulls   :  8333
NaN               8333
Germany           4502
Italy             1038
European Union     507
Netherlands        464
Spain              325
Belgium            314
Austria            208
Czech Republic      52
Poland              49
France              38
Denmark             33
Hungary             28
Japan                8
Slovakia             4
Croatia              4
Sweden               3
Romania              2
Bulgaria             2
Luxembourg           1
Switzerland          1
Slovenia             1
Egypt                1
Serbia               1
Name: country_version, dtype: int64
******************************

In [173]:
df[df.country_version.isnull()][["make", "model", "body_type"]].value_counts(dropna=False)

make     model     body_type
Audi     A3        Sedans           1624
         A1        Sedans            948
Opel     Insignia  Station wagon     714
         Astra     Station wagon     597
Renault  Clio      Sedans            556
Opel     Astra     Sedans            511
         Corsa     Sedans            488
                   Compact           436
Audi     A1        Compact           426
Opel     Insignia  Sedans            426
Renault  Espace    Van               379
         Clio      Station wagon     207
                   Compact           169
Audi     A3        Compact           131
Opel     Astra     Compact           130
Audi     A3        Station wagon     105
Opel     Corsa     Other              78
Renault  Espace    Station wagon      65
Opel     Astra     Other              58
Renault  Espace    Transporter        44
Opel     Insignia  Other              42
Renault  Clio      Other              31
         Duster    Off-Road           25
         Clio      Transporter        24
Audi     A1        Station wagon      16
Opel     Insignia  Compact            16
Renault  Espace    Sedans             15
Audi     A3        Other              14
Opel     Corsa     Coupe              10
Audi     A1        Other               7
Renault  Espace    Compact             6
Opel     Insignia  Off-Road            5
Renault  Espace    Other               5
Audi     A3        Convertible         4
Renault  Espace    Off-Road            4
Opel     Corsa     Off-Road            3
Renault  Espace    Coupe               2
         Clio      Van                 2
Audi     A3        Coupe               2
         A1        Coupe               2
Opel     Corsa     Transporter         2
         Insignia  Coupe               1
Renault  Clio      Off-Road            1
Audi     A1        Van                 1
Opel     Astra     Off-Road            1
dtype: int64

In [174]:
df.groupby(["make", "model", "body_type"])["country_version"].value_counts(dropna=False).head(50)

make  model  body_type      country_version
Audi  A1     Compact        Germany             448
                            NaN                 426
                            Netherlands          68
                            European Union       58
                            Denmark              15
                            Italy                 8
                            Austria               5
                            Belgium               5
                            France                2
                            Poland                2
                            Romania               1
                            Spain                 1
             Coupe          NaN                   2
             Other          NaN                   7
                            Italy                 5
                            Germany               1
             Sedans         NaN                 948
                            Germany             314
                            Italy               143
                            Spain                61
                            Belgium              43
                            Austria              14
                            European Union        9
                            France                3
                            Luxembourg            1
                            Slovakia              1
                            Switzerland           1
             Station wagon  NaN                  16
                            Germany               4
                            Spain                 1
             Van            NaN                   1
      A2     Off-Road       Germany               1
      A3     Compact        NaN                 131
                            Netherlands          33
                            Belgium              12
                            Germany               3
                            Austria               2
                            Italy                 1
             Convertible    NaN                   4
                            Italy                 2
                            Netherlands           2
             Coupe          NaN                   2
                            Belgium               1
                            Italy                 1
             Other          NaN                  14
                            Italy                 2
             Sedans         NaN                1624
                            Italy               334
                            Germany             306
                            European Union      173
Name: country_version, dtype: int64

In [175]:
df.isnull().sum()

body_type                    0
price_€                      0
vat                          0
km                           0
hp_kW                        0
type                         0
previous_owners              0
warranty                     0
make                         0
model                        0
body_color                   0
paint_type                   0
upholstery                   0
nr_of_doors                  0
nr_of_seats                  0
gearing_type                 0
engine_displacement_cc       0
cylinders                    0
weight_kg                    0
drive_chain                  0
fuel                         0
co2e_g                       0
emission_class               0
comfort&convenience          0
entertainment&media          0
extras                       0
safety&security              0
gears                        0
country_version           8333
consumption_comb          3790
consumption_city          4039
consumption_cuntry        3365
age                          0
dtype: int64

In [176]:
df.country_version.fillna(value="Unknown").isnull().sum()

0

In [177]:
df.country_version = df.country_version.fillna(value="Unknown")

In [178]:
df.country_version.isnull().sum()

0

In [179]:
## 27 consumption_comb, city, cuntry

In [180]:
check_df("consumption_comb")

column name :  consumption_comb
-+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+-
Per_of_Nulls   :  % 23.81
Num_of_Nulls   :  3790
NaN       3790
5.400      769
3.900      733
5.100      654
4.400      623
5.600      618
4.700      602
3.800      585
4.800      546
4.500      523
5.200      454
4.200      435
4.600      426
4.900      393
5.500      380
5.300      379
5.900      369
3.700      369
5.700      342
4.100      342
4.300      307
3.300      298
3.500      285
6.200      216
3.600      193
6.300      181
6.100      175
5.800      164
6.600      148
6.800      136
3.400       94
6.400       75
7.400       66
6.500       43
6.700       43
7.100       38
6.900       27
3.200       25
8.300       19
7.600       14
3.100        7
7.800        6
7.200        6
8.600        4
1.600        3
8.700        3
7.900        3
7.300        2
8.100        2
7.500        1
9.100        1
1.200        1
13.800       1
Name: consumption_comb, dtype: int64
******************************

In [181]:
df[df.consumption_comb.isnull()][["consumption_city", "consumption_cuntry"]].value_counts()

consumption_city  consumption_cuntry
6.300             4.200                 210
4.500             3.700                 201
4.700             3.600                 118
7.800             4.900                 115
4.200             3.900                  69
                                       ...
5.100             3.300                   1
6.400             4.300                   1
5.100             3.800                   1
5.200             3.900                   1
9.800             5.900                   1
Length: 63, dtype: int64

In [182]:
df["consumption_comb"] = df["consumption_comb"].fillna(abs(df["consumption_cuntry"]*0.62 + df["consumption_city"]*0.38))

In [183]:
df["consumption_cuntry"] = df["consumption_cuntry"].fillna(abs((df["consumption_comb"] - df["consumption_city"]*0.38)/0.62))

In [184]:
df["consumption_city"] = df["consumption_city"].fillna(abs(df["consumption_comb"] - df["consumption_cuntry"]*0.62)/0.38)

In [185]:
df.groupby(["make","model","cylinders","weight_kg", "body_type"])["consumption_comb"].mean()

make     model   cylinders  weight_kg  body_type
Audi     A1      3.000      102.000    Compact       4.600
                            1010.000   Compact       4.200
                                       Coupe         4.200
                            1035.000   Compact       4.200
                                       Sedans        4.200
                                                      ...
Renault  Espace  4.000      2410.000   Transporter   6.200
                                       Van           6.200
                            2471.000   Van           4.700
                 8.000      1685.000   Van             NaN
                            1734.000   Other           NaN
Name: consumption_comb, Length: 997, dtype: float64

In [186]:
df.groupby(['make','model','cylinders','weight_kg', 'body_type'])['consumption_comb'].value_counts(dropna=False).head(60)

make  model  cylinders  weight_kg  body_type      consumption_comb
Audi  A1     3.000      102.000    Compact        4.600                1
                        1010.000   Compact        4.200                2
                                   Coupe          NaN                  1
                                                  4.200                1
                        1035.000   Compact        4.200                6
                                   Sedans         4.200                5
                        1040.000   Compact        4.200                1
                                                  4.400                1
                        1060.000   Sedans         4.200                2
                        1065.000   Compact        4.400               25
                                                  4.500                7
                                                  NaN                  3
                                                  4.600                1
                                   Sedans         4.400                1
                        1088.000   Sedans         4.200                1
                        1090.000   Compact        4.400                7
                                                  4.200                2
                                   Sedans         NaN                  2
                                                  4.400                2
                        1094.000   Sedans         4.200                1
                        1097.000   Sedans         4.200                4
                        1100.000   Compact        4.400                2
                        1105.000   Compact        3.700               10
                                                  3.400                2
                                   Sedans         4.300                1
                        1110.000   Compact        4.200               10
                                                  4.400                6
                                                  NaN                  5
                                   Sedans         4.200               35
                                                  4.400                4
                                                  5.100                3
                                                  4.300                2
                                                  3.900                1
                                                  4.600                1
                                                  4.800                1
                        1114.000   Sedans         4.300                1
                        1115.000   Sedans         5.100                1
                        1118.000   Sedans         5.100                2
                        1120.000   Sedans         3.400                4
                                                  3.600                1
                                                  3.700                1
                        1125.000   Sedans         4.200                1
                                   Station wagon  5.800                1
                        1130.000   Sedans         3.400                3
                                                  3.700                1
                        1133.000   Compact        4.600                3
                                   Sedans         4.800                4
                                                  NaN                  2
                        1134.000   Compact        4.200                6
                                   Sedans         4.200                1
                                                  4.300                1
                                                  4.400                1
                                                  4.600                1
                        1135.000   Compact        4.400               29
                                                  4.300               10
                                                  4.200                7
                                                  NaN                  4
                                                  4.500                1
                                                  5.100                1
                                   Sedans         4.200               59
Name: consumption_comb, dtype: int64

In [187]:
df.groupby(['make','model','cylinders','weight_kg', 'body_type'])["consumption_city"].apply(lambda x: x.fillna(x.mean())).isnull().sum()

429

In [188]:
df.consumption_city = df.groupby(["make", "model", "body_type" ,"weight_kg", "cylinders", "fuel"])["consumption_city"].fillna(method="ffill").fillna(method="bfill")

In [189]:
df.consumption_cuntry = df.groupby(["make", "model", "body_type" ,"weight_kg", "cylinders", "fuel"])["consumption_cuntry"].fillna(method="ffill").fillna(method="bfill")

In [190]:
df["consumption_comb"] = df["consumption_comb"].fillna(abs(df["consumption_cuntry"]*0.62 + df["consumption_city"]*0.38))

In [191]:
df.isnull().sum()

body_type                 0
price_€                   0
vat                       0
km                        0
hp_kW                     0
type                      0
previous_owners           0
warranty                  0
make                      0
model                     0
body_color                0
paint_type                0
upholstery                0
nr_of_doors               0
nr_of_seats               0
gearing_type              0
engine_displacement_cc    0
cylinders                 0
weight_kg                 0
drive_chain               0
fuel                      0
co2e_g                    0
emission_class            0
comfort&convenience       0
entertainment&media       0
extras                    0
safety&security           0
gears                     0
country_version           0
consumption_comb          0
consumption_city          0
consumption_cuntry        0
age                       0
dtype: int64

In [192]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   body_type               15919 non-null  object
 1   price_€                 15919 non-null  float64
 2   vat                     15919 non-null  object
 3   km                      15919 non-null  float64
 4   hp_kW                   15919 non-null  float64
 5   type                    15919 non-null  object
 6   previous_owners         15919 non-null  float64
 7   warranty                15919 non-null  float64
 8   make                    15919 non-null  object
 9   model                   15919 non-null  object
 10  body_color              15919 non-null  object
 11  paint_type              15919 non-null  object
 12  upholstery              15919 non-null  object
 13  nr_of_doors             15919 non-null  float64
 14  nr_of_seats             15919 non-null  float64
 15  gearing_type            15919 non-null  object
 16  engine_displacement_cc  15919 non-null  float64
 17  cylinders               15919 non-null  float64
 18  weight_kg               15919 non-null  float64
 19  drive_chain             15919 non-null  object
 20  fuel                    15919 non-null  object
 21  co2e_g                  15919 non-null  float64
 22  emission_class          15919 non-null  object
 23  comfort&convenience     15919 non-null  object
 24  entertainment&media     15919 non-null  object
 25  extras                  15919 non-null  object
 26  safety&security         15919 non-null  object
 27  gears                   15919 non-null  float64
 28  country_version         15919 non-null  object
 29  consumption_comb        15919 non-null  float64
 30  consumption_city        15919 non-null  float64
 31  consumption_cuntry      15919 non-null  float64
 32  age                     15919 non-null  float64
dtypes: float64(16), object(17)
memory usage: 4.0+ MB

## 27 to_csv

In [196]:
df.to_csv("filled_autoscout.csv", index=False)

# PART- 3 `( Handling With Outliers )`

# Final Step (Checking final situation of data via graphs)

## Export dataframe to csv file (without dummy)

In [194]:
# df.to_csv("final_scout_not_dummy.csv", index=False)

# Dummy Operation

## Export dataframe to csv file (dummy)

In [195]:
#df_dummied.to_csv("final_scout_dummy.csv", index=False)